$color-1: #eed443;
$color-2: red;
$color-3: green;

$background-color-1: #eee;
$background-color-2: #d3d3d3;

$text-color-1: #e3e3;
$text-color-2: red;
$text-color-3: rgb(35, 255, 82);
$text-color-4: white;

$button-1: rgb(245, 32, 32);
$button-1-h: rgb(221, 20, 20);
$button-2: rgb(255, 185, 35);
$button-2-h: rgb(231, 166, 25);